async-timeout==4.0.3
cairocffi==1.6.1
CairoSVG==2.7.1
certifi==2024.2.2
cffi==1.16.0
chardet==3.0.4
contourpy==1.2.0
cssselect2==0.7.0
cycler==0.12.1
defusedxml==0.7.1
dill==0.3.8
fonttools==4.48.1
iconify==0.0.103
idna==2.10
kids==1.0.4
kids.cache==0.0.7
kiwisolver==1.4.5
libsass==0.23.0
matplotlib==3.8.2
mock==5.1.0
multiprocess==0.70.16
numpy==1.26.4
packaging==23.2
pandas==2.2.0
pathos==0.3.2
pillow==10.2.0
pox==0.3.4
ppft==1.7.6.8
pycparser==2.21
pyparsing==3.1.1
PyQt6==6.6.1
PyQt6-Qt6==6.6.1
PyQt6-sip==13.6.0
PySide6==6.6.1
PySide6-Addons==6.6.1
PySide6-Essentials==6.6.1
pyside6-utils==1.2.2
python-dateutil==2.8.2
pytz==2024.1
QT-PyQt-PySide-Custom-Widgets==0.6.9
QtPy==2.4.1
qtsass==0.4.0
redis==5.0.1
requests==2.23.0
shiboken2==5.15.2.1
shiboken6==6.6.1
six==1.16.0
termcolor==2.4.0
tinycss2==1.2.1
typing==3.7.4
tzdata==2023.4
urllib3==1.25.11
watchdog==4.0.0
webencodings==0.5.1
